:root {
    --red: hsl(0, 100%, 50%);
    --green: hsl(125, 68%, 41%);
    --orange: hsl(25, 100%, 50%);
    --blue: hsl(212, 67%, 41%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: #2B3467;
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.card-template {
    height: 70px;
}

.card-part {
    margin: 5px 5px 5px 5px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    height: 65px;
}

.main-card {
    margin: 10px 2px 5px 0px;
    border-radius: 20px;
    /* height: 82.5%; */
    height: 700px;
    overflow-y: scroll;
}

.row-card-i{
    margin: 0px 2px 2px 0px;
}

.card-inside{
    height: 70px;
    width: 100%;
    border-radius: 40px;
    background-color: rgb(143, 6, 6);
}

.card-inside1 {
    height: 90%;
    width: 40%;
    margin: 3.5px -10px 4px 3px;
    border-radius:  40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 0 0 0 0;
}

.card-inside2{
    height: 74%;
    width: 62%;
    margin: 8.5px 9px 0px -10px;
    padding: 0 0 0 -6px;
    border-radius: 0px 40px 40px 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /* float: right; */
}

.font-ci1{
    font-size: 33px;
    font-weight: 700;
    margin: 5px 0px 0px -7px ;
}

.font-ci2{
    font-size: 15px;
    font-weight: 700;
    margin: 13px 1px 0px 10px ;
}

.font-with-enter{
    font-size: 15px;
    font-weight: 700;
    margin: 3px 1px 0px 10px ;
}


.totalok{
    background-color: #2B3467;
}

.parent{
    margin-left: -10px;
}

.child {
    height: 50px; 
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 10px 0px 10px 0px;
    /* padding: 8px 0 0 0px; */
    border-radius: 10px 10px 10px 10px;
}

.card-green{
    background-color: rgb(16, 230, 98);
    height: 80px;
    border-radius: 15px 0px 0px 15px;
}
.card-orange{
    background-color: rgb(219, 92, 18);
    height: 80px;
    border-radius: 15px 0px 0px 15px;
}
.card-red{
    background-color: rgb(219, 18, 18);
    height: 80px;
    border-radius: 15px 0px 0px 15px;
}
.card-yellow{
    background-color: rgb(243, 247, 22);
    height: 80px;
    border-radius: 15px 0px 0px 15px;
}
.card-grey{
    background-color: rgb(202, 202, 199);
    height: 80px;
    border-radius: 15px 0px 0px 15px;
}


/* ======= Prep Final Inspection ====== */
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-3 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-9 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  

