.body {
  background-color: #00af50;
}

.conflu {
  min-height:90vh;
  margin-top: -25px;
}

.ket{
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.status{
  margin: auto;
  margin-top: 5px;
  margin-right: 10px;
  background-color: red;
  height: 50%;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  border-radius: 0em 0em 1em 1em / 1em;
}

.penjelasan {
  background-color: #0d0148;
  font-size: 30px;
  font-weight: 500;
  border-radius: 0em 0em 1em 1em / 1em;
  color: white;
}

.angka {
  margin-top: -10px;
  /* margin-bottom: -5px; */
  font-size: 100px;
  font-weight: 600;
  text-align: center;
}

.atas{
  background-color: rgb(255, 255, 255);
}
.aktual{
  background-color: white;
  text-align: center;
}

.target{
  background-color: white;
}

.parent {
  height: 150px;
}
.child{
  width: 350px;
  height: 220px;
  margin-top: -20px;
}

.parallelogram {
  /* width: 100%;
  height: 100%; */
  transform: skew(-20deg);
  background: #00af50;
  color: white;
}

.parallelogram h1 {
  transform: skew(20deg);
}

.box{
  box-shadow: 0px 5px 10px 0px rgba(5, 0, 0, 5); 
}

.boxperform{
  box-shadow: 0px 5px 15px 0px rgba(5, 0, 0, 5); 
}

.pperform{
  font-size: 30px;
  font-weight: 500;
  transform: skew(0deg);
  padding-top: 0px;

}

.persen {
  font-size: 145px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
}

.symbol{
  font-size: 60px;
  font-weight: 500;
  text-align: center;

}

.downtime{
  margin-top: 5px;
  margin-right: 0px;
  padding-top: 5px;
  background-color: #d71f1f;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  height: 60px;
}

.henkaten {
  border-radius: 1em 0em 0em 1em / 1em;
  margin-left: 0px;
  height: 90%;
}

.henka {
  transform: rotate(270deg);
  margin-top: 110px;
  font-size: 30px;
  font-weight: 600;
}

.manpower{
  background-color: white;
  padding-top: 0px;
  width: 100%;
  height: 90%;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  border-radius: 0em 0.5em 0.5em 0em / 0.5em;
}

.progress {
  width: 98%;
}

.progress-bar {
  font-size: 30px;
  font-weight: 500;
  color: #0d0148;
}

.availa {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.qurate {
  font-size: 25px;
  font-weight: 700;
  color: white;

}

.shift {
  font-size: 25px;
  font-weight: 700;
  color: white;

}

.jam{
  font-size: 30px;
  font-weight: 500;
  color: white;

}

footer {
  background-color: #ffffff;
  margin-top: 7px;
  padding-top: 4px;
  padding-bottom: 0px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 1400px) { 
  .body {
    background-color: #00af50;
    overflow: hidden;
  }
  
  .conflu {
    min-height:92.5vh;
    margin-top: -25px;

  }
  
  .line{
    margin-top: 30px;
    font-size: 45px;
    font-weight: 700;
    color: white;
  }

  .part{
    font-size: 55px;
    font-weight: 700;
    color: white;
  }
  
  .status{
    margin: auto;
    /* margin-top: 5px; */
    margin-left: -10px;
    margin-right: 15px;
    background-color: red;
    height: 40%;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    border-radius: 0em 0em 1em 1em / 1em;
  }
  
  .penjelasan {
    width: 80%;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #0d0148;
    font-size: 40px;
    font-weight: 500;
    border-radius: 0em 0em 1em 1em / 1em;
    color: white;
    text-align: center;
  }

  .angka {
    margin-top: 0px;
    /* margin-bottom: -5px; */
    padding-top: 10px;
    padding-left: 30px;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
  }

  .atas{
    height: 250px;
    background-color: rgb(255, 255, 255);
  }
  
  .aktual{
    background-color: white;
    text-align: center;
  }
  
  .target{
    background-color: white;
  }

  /* .performance {
    background-color:#269056 ;
    border-color: black;
    color: white;
  } */

  .parent {
    width: 100px;
    height: 150px;
  }

  .child{
    width: 310px;
    height: 300px;
    margin-top: -25px ;
  }

  .pperform {
    font-size: 40px;
    font-weight: 500;
    padding-top: 40px;
    padding-right: 15px;
  }

  .parallelogram {
    /* width: 90%;
    height: 100%; */
    transform: skew(-20deg);
    background: #00af50;
    color: white;
  }

  .parallelogram h1 {
    transform: skew(20deg);
  }

  .box{
    box-shadow: 0px 5px 10px 0px rgba(5, 0, 0, 5); 
  }

  .boxperform{
    box-shadow: px 5px 0px 5px rgba(5, 0, 0, 5); 
  }
  
  .persen1{
    /* margin-top: -20px; */
    margin-left: -20px;
    font-size: 180px;
    font-weight: 700;
    text-align: center;
  }

  .persen2 {
    font-size: 180px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 10px 19px black;
    animation: animate 2.0s linear infinite;
    color: #ff0000;
  }

  @keyframes animate{
   
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 1.0;
    }
  }

  .symbol{
    font-size: 55px;
    font-weight: 600;
  }

  .running {
     /* margin-left: 60px; */
    /* margin-top: 50px; */
    background-color: #0f5d31;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-size: 50px;
    font-weight: 600;
    height: 90px;
  }
  
  .downtime{
    /* margin-left: 60px; */
    /* margin-top: 50px; */
    background-color: #c91414;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 600;
    height: 90px;
  }

  .henkaten {
    border-radius: 1em 0em 0em 1em / 1em;
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
  }

  .henka {
    transform: rotate(270deg);
    margin-top: 140px;
    font-size: 40px;
    font-weight: 700;
  }

  .manpower{
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    border-radius: 0em 0.5em 0.5em 0em / 0.5em;
  }
  
  .progress {
    width: 95%;
    background: #0d0148;
  }

  .progress-bar {
    font-size: 30px;
    font-weight: 500;
  }

  .availa {
    font-size: 30px;
    font-weight: 700;
    color: white;

  }
  
  .qurate {
    font-size: 30px;
    font-weight: 700;
    color: white;

  }

  .shift {
    font-size: 30px;
    font-weight: 700;
    color: white;

  }

  .jam{
    font-size: 30px;
    font-weight: 700;
    color: white;

  }

  footer {
    background-color: #ffffff;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 500;
  }
}